<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css" type="text/css" />
  <title>Welcome</title>
</head>

<body>
  <div class="test">
    <h1>Welcome to GuestBook</h1>
    <a href='/readTransaction'>Read transaction</a>
    <br>
    <a href='/writeTransaction'>ADD transaction</a>
  </div>
</body>

</html>